.calculatorContainer {
    background-color: rgb(180, 224, 245);    
    
}

.sumContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    padding-right: 2rem;
    margin-top: 2rem;
    background-color: rgba(99, 158, 226, 0.1);  
}

.sumContainer h1,
.sumContainer h4,
.sumContainer p {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    
}

.sumContainer h1 {
    font-size: 4rem;
}

.sumContainer p {
    font-size: 2rem;
    color: rgb(163, 163, 163);
}

.sumContainer h4 {
    color: rgb(197, 197, 197);
}